.error_span {
    color: red;
}


.code_pointer_span {
    background-color: lawngreen;
}
.debug_str_span {
    color: blue;
}
.debug_span {
    color: black;
}
.vbf_span {
    color: black;
}
.other_span {
    color: darkslategray;
}
.comment_span {
    color: #00a900;
}
