.dark_theme {
    --body-bg-color: #121212;
    --text-color: #eeeeee;
    --input-bg-color: #222222;
    --input-text-color: white;
    --link-color: dodgerblue;

    --code-output-bg-color: #242424;
    --code-output-text-color: white;

    --btn-text-color: #dddddd;
    --btn-bg-color: #242424;
    --btn-hover-color: #393939;
    --btn-active-color: #4d4d4d;
}
.light_theme {
    --body-bg-color: lightgray;
    --text-color: black;
    --input-bg-color: white;
    --input-text-color: black;
    --link-color: blue;

    --code-output-bg-color: white;
    --code-output-text-color: black;

    --btn-text-color: black;
    --btn-bg-color: white;
    --btn-hover-color: #b4b4b4;
    --btn-active-color: gray;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--body-bg-color);
}
body {
    padding: 25px 40px;
}

h1, p, a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    display: inline-block;
    margin-right: 15px;
}
p, a {
    font-size: 1.2rem;
}
a {
    color: var(--link-color);
}

.options p {
    margin: 20px 0;
    margin-right: 5px;
}
.options input {
    border: none;
    margin-right: 15px;
    font-size: 1.2rem;
    padding: 3px;

    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}
.options input:focus {
    outline: none;
}
.options input[type=checkbox] {
    margin-right: 10px;
    zoom: 1.6;
    transform: translateY(3px);
}

.buttons {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
    display: flex;
}
.buttons button {
    font-size: 1.4rem;
    border: none;
    margin-right: 15px;
    padding: 4px 6px;

    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
}
.buttons button:hover {
    background-color: var(--btn-hover-color);
}
.buttons button:active {
    background-color: var(--btn-active-color);
}
.buttons button:disabled {
    background-color: var(--btn-hover-color);
}

.code_wrapper {
    display: inline-block;
    width: 100%;
    height: 40%;
}

.code_syntax {
    position: absolute;
    display: inline-block;
    padding: 3px;
    border: none;
    font-size: 1.12rem;
    tab-size: 4;
    overflow: hidden;

    background-color: var(--code-output-bg-color);
    color: var(--code-output-text-color);
    white-space: pre;
    z-index: 0;
}
.code {
    position: absolute;
    display: inline-block;

    padding: 3px;
    border: none;
    font-size: 1.12rem;
    overflow: auto;
    resize: none;

    background-color: transparent;
    color: transparent;
    caret-color: var(--code-output-text-color);
    
    white-space: pre;
    tab-size: 4;
    z-index: 1;
}
.code:focus {
    outline: none;
}
/*.code::selection {
    color: #242424;
    background-color: Highlight;
}*/

.output {
    display: inline-block;
    width: 100%;
    padding: 3px;
    border: none;
    font-size: 1.12rem;
    min-height: 40%;
    background-color: var(--code-output-bg-color);
    color: var(--code-output-text-color);

    white-space: pre-wrap;
    tab-size: 4;
    word-break: break-all;
}
.output span {
    white-space: inherit;
    tab-size: inherit;
    font-family: inherit;
    font-size: inherit;
    word-break: inherit;
}
.output span:focus {
    outline: none;
}
